@charset "UTF-8";
/* CSS Document */

body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #CCC;
}

body {
	background-color: #666;
}

.container{
	width: 2540px;
	height:1240px;
	background-color: transparent;
	margin: auto;
	alignment-adjust:central;
	background-image: url(images/Tiger-drawing.jpg)
}

.header{
	height:200px;
	background-color: #999;
	background-image: url(images/HeaderD1.jpg)
}

.mainContent{
	width:845px;
	height:840px;
}

.sideBar1{
	width:845px;
	height:840px;
	background-color: #999;
	};

.footer{
	height:200px;
	background-color: #999;
	background-image: url(images/FooterD1.jpg);
}

a:link {
	color: #0FF;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #0FC;
}

a:hover {
	text-decoration: none;
	color: #0CF;
}

a:active {
	text-decoration: none;
	color: #0CC;
}

